<%layout("/layouts/boilerplate.ejs")%>

<div class="login-big-div login-stu">
  <div class="right-login">
    <div class="login-card pop-out">
      <div style="text-align: center">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            width="250"
            alt=""
        /></a>
      </div>
      <br />
      <h3 style="font-size: 1.5rem; text-align: center">Reset Password</h3>
      <br />
      <h5 class="login-identity"><p>Student</p></h5>

      <br />

      <form action="/auth/enterNewPass" method="post">
        <input
          type="password"
          style="text-align: center"
          name="password"
          required
          placeholder="Enter New Password"
        />
        <br />

        <button
          class="btn btn-primary"
          style="text-align: center; width: 100%"
          type="submit"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
