<%layout("/layouts/boilerplate.ejs")%>

<div class="login-big-div login-stu">
  <div class="right-login">
    <div class="login-card pop-out">
      <div style="text-align: center">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
            loading="lazy"
            width="250"
            alt=""
        /></a>
      </div>
      <br />
      <h3 style="font-size: 1.5rem; text-align: center">Reset Password</h3>
      <br />
      <h5 class="login-identity"><p>Student</p></h5>

      <form
        action="/auth/verifyResetPassOtp"
        method="post"
        id="verifyResendPassOtpForm"
      >
        <br />
        <input
          type="email"
          readonly
          value="<%=email%>"
          name="email"
          style="text-align: center; color: grey"
        />
        <br />
        <input
          type="tel"
          name="otp"
          required
          style="text-align: center"
          placeholder="Enter Your OTP "
        />

        <br />
        <button class="btn btn-primary">Verify OTP</button>
      </form>

      <br />
    </div>
  </div>
</div>
