<%layout("/layouts/boilerplate.ejs")%>
<link
  href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
  rel="stylesheet"
/>

<div class="placementReportBigDiv">
  <div class="headerImage">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
      alt="Nfsu Logo.."
      loading="lazy"
    />
  </div>
  <div class="headerTitle" style="padding: 5rem">
    <h1>
      Placement Report <br />
      SCSDF
    </h1>
  </div>
  <div class="headerImage2">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712513750/1665605758939_vds4tj.jpg"
      alt=""
      loading="lazy"
    />
  </div>
  <div class="headerTitle breakPageDiv" style="padding: 5rem">
    <h4>
      Office of The Placement Cell <br />
      SCSDF
    </h4>
    <h5>
      National Forensic Sciences University <br />
      Gandhinagar
    </h5>
    <br />
    <h5><%=formattedDateTime%></h5>
  </div>
  <div class="page2 breakPageDiv">
    <div class="headerTitle"><h1>Index</h1></div>
    <table class="table tableContent">
      <thead>
        <tr>
          <th scope="col">Particulars</th>
          <th scope="col">Page No.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Introduction</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Student Preparation</th>
          <td>3-4</td>
        </tr>
        <tr>
          <th>Recruiter profile and Sector-wise information</th>
          <td>12-3</td>
        </tr>
        <tr>
          <th>Program-wise placement statistics</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Department-wise placement statistics</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Salary statistics</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Comparison of average salary</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>International and pre-placement offers</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Year-wise placement comparison</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Sector-wise statistics for different programs</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>PhD student placement</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Internships 2022-23</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Conclusion</th>
          <td>1-2</td>
        </tr>
        <tr>
          <th>Annexure-1</th>
          <td>1-2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="overlay">
    <div class="strip"></div>
    <div class="page3 breakPageDiv">
      <div class="headerTitle">
        <h1>Introduction</h1>
      </div>
      <div class="textContent">
        <p>
          IIT Bombay had 2174 students registering for the campus placement
          season from July 2022 - June 2023 of which 1845 students actively
          participated in placements and 1516 students secured jobs, which is
          the highest number to date. The placements were conducted in a hybrid
          mode consisting of interviews conducted both online and off-line. 1316
          Job Announcement Forms were filled by 531 companies this year,
          excluding the pre-placement offers. Highest international and domestic
          salaries (based on cost to company (CTC)) at IIT Bombay were Rs. 3.67
          crore per annum (CPA) and Rs.1.68 CPA, respectively. Sixteen offers of
          above Rs. 1 crore per annum and sixty-five international offers were
          accepted at IIT Bombay during the placement season 2022-23. Of the 300
          pre-placement offers 194 were accepted by students at IIT Bombay. The
          average salary of the students placed this season was Rs 21.82 Lakhs
          per annum (CTC). The placement season is summarized in Table 1.
        </p>
      </div>
      <table class="table tableContent">
        <thead>
          <tr>
            <th scope="col">Key Metric</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Number of Registered Students</th>
            <td>2234</td>
          </tr>
          <tr>
            <th>Number of Students who Actively Participated</th>
            <td>1804</td>
          </tr>
          <tr>
            <th>Number of Companies Participated</th>
            <td>533</td>
          </tr>

          <tr>
            <th>Total Number of Job Offers</th>
            <td>1393</td>
          </tr>

          <tr>
            <th>Number of Pre-Placement Offers</th>
            <td>400</td>
          </tr>
          <tr>
            <th>Pre-Placement Offers accepted</th>
            <td>294</td>
          </tr>
          <tr>
            <th>Highest International Salary</th>
            <td>Rs 4.87 Crores</td>
          </tr>
          <tr>
            <th>Highest Domestic Salary (C.T.C.)</th>
            <td>Rs 2.21 Crores</td>
          </tr>
          <tr>
            <th>Average Salary Package of Selected Students</th>
            <td>Rs. 21.82 Lakhs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
